body {
  background-color: #FDF1D6;
}

hr {
  border-style: none;
  border-top-style: dotted;
  width: 5%;
  border-width: 5px;
  border-color: grey;
}

h1 {
  color: #91091E;

}

h3 {
  color: #91091E;
}
